.contentDescript {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contentDescript img {
    border-radius: 50%;
    height: 160px;
    margin-bottom: 8px;
    width: 160px;
}

.contentDescript .contentDescript-name {
    margin-bottom: 12px;
}

.contentDescript .contentDescript-name h1{
    font-size: 22px;
    text-align: justify;
    margin-bottom: 12px;
}

.contentDescript-description p{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}

.contentDescript  .contentDescript-socialNetworks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 14px;
}

.contentDescript-socialNetworks__items {
    align-items: center;
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    margin: 12px 12px;
    transition: all 0.8s;
}

.contentDescript-socialNetworks__items:hover {
    transform: scale(1.04);
}

.contentDescript-socialNetworks__items .iconsNetworks {
    width: 30px;
    height: 30px;
}
.contentDescript-socialNetworks__items p {
    background: #ffffff;
    font-weight: bold;
    padding: 4px;
}