@media screen and (min-width: 768px) {
    main {
        max-width: 80%;
        margin: 0 auto;
        padding: 50px;
    }

    .contentMenu {
        height: 80px;
    }

    .contentMenu .contentMenu-icon img {
        height: 30px;
        width: 30px;
    }

    .contentDescript .profile {
        border-radius: 50%;
        height: 200px;
        margin: 24px auto;
        width: 200px;
    }

    .contentDescript .contentDescript-name h1 {
        font-size: 38px;
        margin: 24px auto;
    }

    .contentDescript-description {
        margin: 24px auto;
    }


    .cont {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentSkylls .contentSkylls-skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .contentHobies .contentHobbies-hobbies {
        grid-template-columns: repeat(3, 1fr);
    }

    .contentSchool .contentSchool-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentExperience .contentExperience-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .contentDescript-description p {
        font-size: 18px;
    }

    .contentMy p {
        font-size: 18px;
    }

    .contentDescript-socialNetworks__items .iconsNetworks {
        width: 20px;
        height: 20px;
    }

    .contentDescript .contentDescript-socialNetworks {
        grid-template-columns: repeat(3, 1fr);
    }

    button {
        margin: 24px auto;
    }
}

@media screen and (min-width: 1000px) {

    h2 {
        font-size: 34px;
    }

    .contentInfo {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .contentSkylls .contentSkylls-skills {
        grid-template-columns: repeat(5, 1fr);
    }

    .contentHobies .contentHobbies-hobbies {
        grid-template-columns: repeat(5, 1fr);
        margin: 30px auto;
    }

    .contentSchool .contentSchool-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .contentExperience .contentExperience-content {
        grid-template-columns: repeat(3, 1fr);
    }

    button span {
        padding: 10px 28px;
        font-size: 18px;
    }

    .contentContact {
        margin: 50px auto;
    }


}