.contentMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 18px 18px;
    width: 100%;
}

.contentMenu .contentMenu-icon img{
    border-radius: 50%;
    height: 24px;
    width: 24px;
}


